.contactform{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.contactform h2{
	font-size:30px;
	color: #333;
	font-weight: 500;

}
.contactform .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea
{
width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none; 
	
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactform .inputBox span{
	position: absolute;
	left:0;
}